<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Promptune</title>
        <link
        rel="stylesheet"
        href="{{url_for('static',filename='dist/css/output.css')}}"
        />
    </head>
    <body>
        <div id="gradient-background" class="w-full min-h-screen flex flex-col items-center gap-4 py-12">
            {% block initial %}{% endblock %}
        </div>
    </body>
    <script>
        function validateForm() {
            console.log("Validating form....")
            var inputText = document.getElementById("inputText").value;
            if (inputText.trim() === "") {
                alert("Please enter your prompt.");
                return false; // Prevent form submission
            }
            return true; // Allow form submission
        }
    </script>
</html>